@{
    Layout = "_Layout";
}

@model HomeBudgetApp.Application.Commons.Models.ExpenseDto[]
<h3 class="text-center">All Expenses</h3>
<div class="row">
    <div class="col">
        <div class="input-group mb-3">
            <a href="@Url.Action("CreateExpense")" class="btn btn-success mr-2">Create Expense</a>
            <input id="searchInput" type="text" class="form-control" placeholder="Search" style="max-width: 200px;">
            <div class="input-group-append">
                <button id="searchButton" class="btn btn-primary" type="button">Search</button>
            </div>
        </div>
    </div>
</div>
<hr />

<div class="container" style="height: 55vh; width: auto;">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="custom-cards">
                @{
                    if (Model.Length == 0)
                    {
                        <h2>There are no expenses yet...</h2>
                    }
                }

                <div class="table-container" style="overflow-y: scroll; max-height: 45vh; max-width: 700px;">
                    <table id="expensesTable" class="table">
                        <thead>
                            <tr>
                                <th style="width: 25%;">Expense Category</th>
                                <th style="width: 25%;">Amount</th>
                                <th style="width: 25%;">Comment</th>
                                <th style="width: 25%;">Expense Time</th>
                                <th style="width: 25%;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var expense in Model)
                            {
                                <tr>
                                    <td>@expense.ExpenseCategory</td>
                                    <td>@expense.Amount</td>
                                    <td>@expense.Comment</td>
                                    <td>@expense.Time</td>
                                    <td class="action-links">
                                        <a href="@Url.Action("UpdateExpense", new { id = expense.Id })" class="btn btn-secondary">Edit</a>
                                        <a href="@Url.Action("DeleteExpense", new { id = expense.Id })" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('searchButton').addEventListener('click', function () {
        var input = document.getElementById('searchInput').value.toLowerCase();
        var rows = document.getElementById('expensesTable').getElementsByTagName('tbody')[0].getElementsByTagName('tr');

        for (var i = 0; i < rows.length; i++) {
            var cells = rows[i].getElementsByTagName('td');
            var match = false;

            for (var j = 0; j < cells.length; j++) {
                var cellText = cells[j].innerText.toLowerCase();
                if (cellText.includes(input)) {
                    match = true;
                    break;
                }
            }

            rows[i].style.display = match ? '' : 'none';
        }
    });
</script>
